<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>972061166742-lkgvl100snn2o9oifle01h9sr8ssdpdp.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.972061166742-lkgvl100snn2o9oifle01h9sr8ssdpdp</string>
	<key>API_KEY</key>
	<string>AIzaSyDountQnzaEZPvWLpATY07uqabHbUVM0Ok</string>
	<key>GCM_SENDER_ID</key>
	<string>972061166742</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.computergeek1507.xlightstest</string>
	<key>PROJECT_ID</key>
	<string>my-project-1535595066839</string>
	<key>STORAGE_BUCKET</key>
	<string>my-project-1535595066839.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:972061166742:ios:fbe665686b7665c93d46b7</string>
	<key>DATABASE_URL</key>
	<string>https://my-project-1535595066839-default-rtdb.firebaseio.com</string>
</dict>
</plist>